@model BookmarksWebApp.Models.Bookmark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookmark</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookmarkTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookmarkTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookmarkResume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookmarkResume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
